body {
  background: #ddd;
}

#content {
  box-shadow: 0 0 6px;
  margin: 0 auto;
  width: 700px;
  background: white;
  padding: 20px;
}

h1 {
  border-radius: 3px;
  padding: 15px 10px;
  background: #0b97c4;
  
  color: white;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 0px;
}

.nav { padding: 0 5px; margin-top: 5px; }
#github-link { float: right; }

h3 {
  margin-top: 40px;
}

h4 {
  margin: 20px 0;
}

li {
  margin: 4px 0;
}

/* Musical double bar footer */
footer { margin-top: 50px; text-align: center; }
footer div { background-color: #666; }
footer .bar { margin-top: 10px; width: 100%; }
footer div:first-child { height: 5px; }
footer div:last-child { height: 20px; margin-top: 10px; }
