body {
  background: #ddd;
}

#content {
  margin: 0 auto;
  width: 800px;
  background: white;
  padding: 20px;
}

h1 {
  padding: 30px 10px;
  background: #0b97c4;
  color: white;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 40px;
}

h3 {
  margin-top: 40px;
}

h4 {
  margin: 20px 0;
  text-align: center;
}

.tab-pane {
  padding: 10px;
  min-height: 200px;
  max-height: 400px;
  overflow: scroll;
  margin-bottom: 20px;
  border-left: 1px solid lightgray;
}

.treema-wrapper {
  margin-top: 20px;
}

pre {
  margin-bottom: 20px
}