.tab-pane {
  padding: 10px;
  /*min-height: 200px;*/
  /*max-height: 400px;*/
  /*overflow: scroll;*/
  margin-bottom: 20px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.treema-wrapper {
  margin-top: 20px;
}

pre {
  margin-bottom: 20px
}