// Base styles

.treema-node
  font-family: monospace
  margin: 3px 0
  clear: both
  
  // hide collection short strings when open
  &.open > .treema-value
    display: none

  &.treema-selected
    background-color: rgba(64, 128, 255, 0.25)

.treema-children
  padding-top: 3px
  margin-left: 10px
  clear: both
  
.treema-add-child
  background-color: lightblue
  border: 1px solid blue
  text-align: center
  cursor: pointer
  display: inline-block
  padding: 0px 5px
  font-weight: bold

.treema-value
  margin-left: 10px
  cursor: pointer
  padding: 2px 0 2px 2px
  
  pre
    margin: 0

.treema-key
  color: #00008b
  float: left
  margin-right: 7px
  padding: 2px 0 2px 2px
  cursor: pointer
  
.treema-error
  float: right
  color: #8b0000
  margin-top: 5px
  margin-bottom: 10px
  
.treema-has-error
  background-color: #ffb6c1
  border: 1px solid red
  
// Collection controls (placeholders for icons)

.treema-grabber
  color: #00008b
  background-color: #00008b
  cursor: move

.treema-toggle
  color: #0b97c4
  background-color: #0b97c4
  cursor: pointer

.treema-grabber, .treema-toggle
  margin-right: 4px
  font-size: 9px
  float: left
  position: relative
  top: 3px

  
// Element value styles

.treema-string
  color: #b8860b
  
.treema-number
  color: #556b2f
  
.treema-null
  color: #483d8b
  font-weight: bold

.treema-clearfix:after
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden
 
