.treema-node
  font-family: monospace
  margin: 3px 0
  
  &.open > .treema-value
    display: none
  &.closed > .treema-value
    cursor: pointer

.treema-children
  padding-top: 3px
  margin-left: 10px
  clear: both

.treema-value
  margin-left: 10px

.treema-key
  color: #00008b
  float: left
  margin-right: 7px

.treema-string
  color: #b8860b
  margin: 0
  
.treema-grabber
  color: #00008b
  background-color: #00008b
  cursor: move

.treema-toggle
  color: #0b97c4
  background-color: #0b97c4
  cursor: pointer

.treema-grabber, .treema-toggle
  margin-right: 4px
  font-size: 9px
  float: left
  position: relative
  top: 3px